{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "plugin:astro/recommended"],
  "ignorePatterns": ["node_modules", "dist", "scripts", "*.min.js"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/triple-slash-reference": "off",
    "no-undef": "off"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "overrides": [
    {
      "files": ["{src,public}/**/*.{mj,cj,j,t}s"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "./tsconfig.json"
      }
    },
    {
      // Define the configuration for `.astro` file.
      "files": ["*.astro"],
      // Allows Astro components to be parsed.
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {
        // "astro/no-set-html-directive": "error"
      }
    }
  ]
}
