<a class="btn btn-outline-secondary mt-5" href="/" target="_self" role="button">⬅&nbsp;返回主页</a>
<p class="bg-light my-4 p-2"><span class="darkmode-ignore">⭐</span> 你的 <a href="/general/encourage" style="text-decoration:underline">支持</a> 可以鼓励 KnowSex 的维护与运营。</p>