---
const { exClass } = Astro.props;
const finalClass =
  "row row-cols-1 row-cols-md-3 g-4 bs-card-group " + (exClass || "");
---

<style is:inline>
  .bs-card-group a {
    text-decoration: none;
    color: inherit;
  }

  .bs-card-group h5 {
    color: #02776b;
    font-weight: normal;
  }
</style>
<div class={finalClass}>
  <slot />
</div>
