---
let { msg = "", leading = false, perset = false } = Astro.props;
switch (perset) {
  case "mayo":
    leading =
      '来自医疗机构<span class="zhuanming"><span>妙佑</span></span>（Mayo Clinic）的内容';
    break;
  case "msd":
    leading =
      '来自医疗机构<span class="zhuanming"><span>默沙东</span></span>（MSD）的内容';
    break;
  default:
    break;
}
---

<button
  type="button"
  class="btn btn-link btn-source-bg-info"
  data-bs-toggle="tooltip"
  data-bs-title={`<b>来源背景</b><br/>${leading || "根据页面信息，"}${msg}`}
>
  <i class="bi bi-info-circle" aria-hidden="true"></i>
  <span class="forScreenReader">
    来源背景介绍：{leading || "根据页面信息，"}{msg}
  </span>
</button>
