---
let { msg = "", leading = false, perset = false } = Astro.props;
switch (perset) {
  case "mayo":
    leading = "来自医疗机构<u>妙佑</u>（Mayo Clinic）的内容";
    break;
  case "msd":
    leading = "来自医疗机构<u>默沙东</u>（MSD）的内容";
    break;
  default:
    break;
}
---

<button
  type="button"
  class="btn btn-link p-1 pt-0"
  data-bs-toggle="tooltip"
  data-bs-title={`<b>来源背景</b><br/>${leading || "根据页面信息，"}${msg}`}
>
  <i class="bi bi-info-circle"></i>
</button>
