<div>
  <p class="px-4 text-center text-muted">
    本网站所提供的信息仅供教育科普用途。这些信息并非旨在提供专业意见，也不能代替有医疗资质者之意见。如需就诊，请咨询正规医疗机构，以免延误病情。
  </p>
  <ul class="list-inline link-underline px-4 text-center text-muted">
    <li class="list-inline-item">
      <a href="/general/copyright">版权许可</a>
    </li>
    <li class="list-inline-item">
      <a href="/general/privacy-policy">隐私政策</a>
    </li>
    <li class="list-inline-item">
      <a href="/general/terms-of-use">使用条款</a>
    </li>
    <li class="list-inline-item"><a href="/general/about">关于</a></li>
  </ul>
</div>

<footer class="row footer">
  <div class="col-md-5 my-1 info-left">
    <p class="key">望藉此减少一些社会问题的发生。</p>
    <p>请考虑<a href="/general/encourage/">支持我们的运作</a>。</p>
    <p>
      <img
        loading="lazy"
        src="/favicon.ico"
        height="26"
        alt="KnowSex 标志"
        aria-hidden="true"
      />&nbsp;KnowSex
    </p>
  </div>
  <hr
    class="hidden-lg"
    style="width: 20%; height: 3px;
        background-color: #afafaf; margin-left: 12px;"
  />
  <!-- <span class="hidden-lg key mb-1" style="color: #eee">*</span> -->
  <div class="col-md-7 text-md-end my-1">
    <p class="key">Made in Zhengzhou with love.</p>

    <p>
      <svg
        width="26"
        height="26"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <rect width="48" height="48" fill="white" fill-opacity="0.01"></rect>
        <path
          d="M4 39H44V24V9H24H4V24V39Z"
          fill="none"
          stroke="#4e4e4e"
          stroke-width="4"
          stroke-linejoin="round"></path>
        <path
          d="M4 9L24 24L44 9"
          stroke="#4e4e4e"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M24 9H4V24"
          stroke="#4e4e4e"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M44 24V9H24"
          stroke="#4e4e4e"
          stroke-width="4"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <a href="mailto:KnowSex@outlook.com">
        <span>KnowSex@outlook.com</span>
      </a>
    </p>

    <p>
      <a
        target="_blank"
        href="https://twitter.com/KnowSex_net"
        class="me-2 social-icon"
        aria-label="推特社交平台账号"
      >
        <svg viewBox="0 0 24 24" style="width:26px;">
          <g>
            <path
              d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
              fill="#4e4e4e"></path>
          </g>
        </svg>
      </a>
      <a
        target="_blank"
        href="https://github.com/knowsex"
        class="me-2 social-icon"
        aria-label="代码托管GitHub账号"
      >
        <svg viewBox="0 0 16 16" version="1.1" style="width:26px;">
          <path
            fill="#4e4e4e"
            fill-rule="evenodd"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
          >
          </path>
        </svg>
      </a>
      <a
        target="_blank"
        class="me-2 social-icon"
        href="https://okjk.co/IJ8Ur"
        aria-label="即刻App社交平台账号"
      >
        <!-- <img loading="lazy" src="/sub/jike.png" width="26" alt="即刻App社交平台账号"> -->
        <svg
          data-name="图层 1"
          width="26"
          version="1.1"
          viewBox="0 0 1508 1508"
          xmlns="http://www.w3.org/2000/svg"
        >
          <metadata>
            <!-- eslint-disable-next-line no-undef -->
            <rdf:RDF>
              <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"
                ></dc:type>
                <dc:title></dc:title>
              </cc:Work>
            </rdf:RDF>
          </metadata>
          <defs>
            <style>
              .cls-1 {
                fill: #fff;
              }

              .cls-2 {
                fill: #4e4e4e;
              }
            </style>
          </defs>
          <path
            class="cls-2"
            transform="translate(729,654)"
            d="m-264.89 821.91c-69.763-95.398-134.93-194.87-204.3-288.31-6.4103-10.646-8.8126-22.29 0.98-30.05 64.786-51.755 134.42-86.236 184.09-144.73 67.79-76.967 93.036-155.44 98.81-254.37-2.9988-237.81 2.4822-474.24-0.78-710.07-0.21-16.26 9.93-22.9 24.32-23.08 124.93 5.0241 252.32-6.7107 375.52-0.21 11.21 0.63 19.27 10.75 18.68 22.28-0.0943 229.49 2.6818 459.23 2.1 686.46-0.06 17.55-0.77 35.1-1.42 52.65-4.536 131.36-33.337 264.34-103.89 373.94-89.299 138.93-220.9 230.81-352.54 322.08-18.604 13.423-28.975 11.846-41.57-6.59z"
          ></path>
        </svg>
      </a>
      <a
        target="_blank"
        rel="me"
        href="https://o3o.ca/@knowsex"
        class="social-icon me-2"
        aria-label="Mastodon社交账号"
      >
        <svg
          width="26"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 216.4144 232.00976"
        >
          <path
            d="M211.80734 139.0875c-3.18125 16.36625-28.4925 34.2775-57.5625 37.74875-15.15875 1.80875-30.08375 3.47125-45.99875 2.74125-26.0275-1.1925-46.565-6.2125-46.565-6.2125 0 2.53375.15625 4.94625.46875 7.2025 3.38375 25.68625 25.47 27.225 46.39125 27.9425 21.11625.7225 39.91875-5.20625 39.91875-5.20625l.8675 19.09s-14.77 7.93125-41.08125 9.39c-14.50875.7975-32.52375-.365-53.50625-5.91875C9.23234 213.82 1.40609 165.31125.20859 116.09125c-.365-14.61375-.14-28.39375-.14-39.91875 0-50.33 32.97625-65.0825 32.97625-65.0825C49.67234 3.45375 78.20359.2425 107.86484 0h.72875c29.66125.2425 58.21125 3.45375 74.8375 11.09 0 0 32.975 14.7525 32.975 65.0825 0 0 .41375 37.13375-4.59875 62.915"
            fill="#4e4e4e"></path>
          <path
            d="M177.50984 80.077v60.94125h-24.14375v-59.15c0-12.46875-5.24625-18.7975-15.74-18.7975-11.6025 0-17.4175 7.5075-17.4175 22.3525v32.37625H96.20734V85.42325c0-14.845-5.81625-22.3525-17.41875-22.3525-10.49375 0-15.74 6.32875-15.74 18.7975v59.15H38.90484V80.077c0-12.455 3.17125-22.3525 9.54125-29.675 6.56875-7.3225 15.17125-11.07625 25.85-11.07625 12.355 0 21.71125 4.74875 27.8975 14.2475l6.01375 10.08125 6.015-10.08125c6.185-9.49875 15.54125-14.2475 27.8975-14.2475 10.6775 0 19.28 3.75375 25.85 11.07625 6.36875 7.3225 9.54 17.22 9.54 29.675"
            fill="#f9f9f9"></path>
        </svg>
      </a>
      <a
        target="_blank"
        class="social-icon"
        href="https://t.me/KnowSex_net"
        aria-label="Telegram频道账号"
      >
        <svg
          version="1.1"
          width="26"
          id="Livello_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 240.1 240.1"
          enable-background="new 0 0 240.1 240.1"
          xml:space="preserve"
        >
          <g id="Artboard">
            <linearGradient
              id="Oval_1_"
              gradientUnits="userSpaceOnUse"
              x1="-838.041"
              y1="660.581"
              x2="-838.041"
              y2="660.3427"
              gradientTransform="matrix(1000 0 0 -1000 838161 660581)"
            >
              <stop offset="0" style="stop-color:#4e4e4e"></stop>
              <stop offset="1" style="stop-color:#4e4e4e"></stop>
            </linearGradient>
            <circle
              id="Oval"
              fill-rule="evenodd"
              clip-rule="evenodd"
              fill="url(#Oval_1_)"
              cx="120.1"
              cy="120.1"
              r="120.1"></circle>
            <path
              id="Path-3"
              fill-rule="evenodd"
              clip-rule="evenodd"
              fill="#FFFFFF"
              d="M54.3,118.8c35-15.2,58.3-25.3,70-30.2
                        c33.3-13.9,40.3-16.3,44.8-16.4c1,0,3.2,0.2,4.7,1.4c1.2,1,1.5,2.3,1.7,3.3s0.4,3.1,0.2,4.7c-1.8,19-9.6,65.1-13.6,86.3
                        c-1.7,9-5,12-8.2,12.3c-7,0.6-12.3-4.6-19-9c-10.6-6.9-16.5-11.2-26.8-18c-11.9-7.8-4.2-12.1,2.6-19.1c1.8-1.8,32.5-29.8,33.1-32.3
                        c0.1-0.3,0.1-1.5-0.6-2.1c-0.7-0.6-1.7-0.4-2.5-0.2c-1.1,0.2-17.9,11.4-50.6,33.5c-4.8,3.3-9.1,4.9-13,4.8
                        c-4.3-0.1-12.5-2.4-18.7-4.4c-7.5-2.4-13.5-3.7-13-7.9C45.7,123.3,48.7,121.1,54.3,118.8z"
            ></path>
          </g>
        </svg>
      </a>
    </p>
  </div>
</footer>
<script src="/script/script.js?20240428" is:inline></script>
<script is:inline>
  // Dark mode requires
  function chooseMode(mode) {
    //用于用户选择颜色主题
    if (mode == "sys") localStorage.setItem("userMode", "sys");
    else if (mode == "light") localStorage.setItem("userMode", "light");
    else if (mode == "dark") localStorage.setItem("userMode", "dark");
    applyMode(mode);
  }

  function ifDarkPrefer() {
    //探测系统是否处于 深色 prefer
    return window.matchMedia("(prefers-color-scheme: dark)").matches;
  }
  function getMode() {
    //探测用户选择的主题
    return localStorage.getItem("userMode");
  }
  const htmlTag = document.querySelector("html");

  // sys,dark,light
  if (getMode() == null) {
    localStorage.setItem("userMode", "sys");
  }
  applyMode(getMode());

  //针对用户选择的主题模式进行操作
  function applyMode(userMode) {
    if (userMode == null) {
      localStorage.setItem("userMode", "sys");
    } else if (userMode == "light") {
      htmlTag.classList.remove("darkmode");
    } else if (userMode == "dark") {
      htmlTag.classList.add("darkmode");
    } else if (userMode == "sys") {
      matchSys();
    }
  }
  function matchSys() {
    if (getMode() == "sys") {
      if (ifDarkPrefer()) htmlTag.classList.add("darkmode");
      else htmlTag.classList.remove("darkmode");
    }
  }
  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", matchSys);

  function switchLanguage(lang) {
    let path = window.location.pathname;

    if (!path.startsWith("/zh-tw") && lang === "zh-tw") {
      window.location.href = "/zh-tw" + path;
      localStorage.setItem("userLang", "zh-tw");
    } else if (path.startsWith("/zh-tw") && lang === "zh-hans") {
      window.location.href = path.replace(/^\/zh-tw/, "");
      localStorage.setItem("userLang", "zh-hans");
    }
  }
</script>
<script
  src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/instant.page/5.1.0/instantpage.min.js"
></script>
