<div>
  <p class="px-4 text-center text-muted">
    本网站所提供的信息仅供教育科普用途。这些信息并非旨在提供专业意见，也不能代替有医疗资质者之意见。如需就诊，请咨询正规医疗机构，以免延误病情。
  </p>
  <ul class="list-inline link-underline px-4 text-center text-muted">
    <li class="list-inline-item">
      <a href="/general/copyright">版权许可</a>
    </li>
    <li class="list-inline-item">
      <a href="/general/privacy-policy">隐私政策</a>
    </li>
    <li class="list-inline-item">
      <a href="/general/terms-of-use">使用条款</a>
    </li>
    <li class="list-inline-item"><a href="/general/about">关于</a></li>
  </ul>
</div>

<footer class="row footer">
  <div class="col-md-5 my-1 info-left">
    <p class="key">望藉此减少一些社会问题的发生。</p>
    <p>请考虑<a href="/general/encourage/">支持我们的运作</a>。</p>
    <p>
      <img
        loading="lazy"
        src="/favicon.ico"
        height="26"
        alt="KnowSex 标志"
        aria-hidden="true"
      />&nbsp;KnowSex
    </p>
  </div>
  <hr
    class="hidden-lg"
    style="width: 20%; height: 3px;
        background-color: #afafaf; margin-left: 12px;"
  />
  <!-- <span class="hidden-lg key mb-1" style="color: #eee">*</span> -->
  <div class="col-md-7 text-md-end my-1">
    <p>
      <a
        target="_blank"
        href="https://twitter.com/KnowSex_net"
        class="social-icon me-2"
        aria-label="推特社交平台账号"
        id="social-icon-twitter"
      >
      </a>
      <a
        target="_blank"
        href="https://github.com/knowsex"
        class="social-icon me-1"
        aria-label="代码托管GitHub账号"
        id="social-icon-github"
      >
      </a>
      <a
        target="_blank"
        class="social-icon me-1 svg-bg-icons"
        href="https://okjk.co/IJ8Ur"
        aria-label="即刻App社交平台账号"
        id="social-icon-jike"
      >
      </a>
      <a
        target="_blank"
        rel="me"
        href="https://o3o.ca/@knowsex"
        class="social-icon me-2"
        aria-label="Mastodon社交账号"
        id="social-icon-mastodon"
      >
      </a>
      <a
        target="_blank"
        class="social-icon me-2"
        href="https://t.me/KnowSex_net"
        aria-label="Telegram频道账号"
        id="social-icon-telegram"
      >
      </a>
      <a
        target="_blank"
        class="social-icon me-2 svg-bg-icons"
        href="https://bsky.app/profile/knowsex.net"
        aria-label="Bluesky账号"
        id="social-icon-bsky"
      >
      </a>
      <a
        target="_blank"
        class="social-icon svg-bg-icons"
        href="https://www.xiaohongshu.com/user/profile/648bcdd0000000002a037f41"
        aria-label="小红书账号"
        id="social-icon-xiaohongshu"
      >
      </a>
    </p>
    <p class="key">Made in Zhengzhou with love.</p>
    <p id="footer-mail-info">
      <a href="mailto:KnowSex@outlook.com">
        <span id="social-icon-mail">KnowSex@outlook.com</span>
      </a>
    </p>
  </div>
</footer>
<script src="/script/script.js?20250507" is:inline></script>
<script is:inline>
  // Dark mode requires
  function chooseMode(mode) {
    //用于用户选择颜色主题
    if (mode == "sys") localStorage.setItem("userMode", "sys");
    else if (mode == "light") localStorage.setItem("userMode", "light");
    else if (mode == "dark") localStorage.setItem("userMode", "dark");
    applyMode(mode);
  }

  function ifDarkPrefer() {
    //探测系统是否处于 深色 prefer
    return window.matchMedia("(prefers-color-scheme: dark)").matches;
  }
  function getMode() {
    //探测用户选择的主题
    return localStorage.getItem("userMode");
  }
  const htmlTag = document.querySelector("html");

  // sys,dark,light
  if (getMode() == null) {
    localStorage.setItem("userMode", "sys");
  }
  applyMode(getMode());

  //针对用户选择的主题模式进行操作
  function applyMode(userMode) {
    if (userMode == null) {
      localStorage.setItem("userMode", "sys");
    } else if (userMode == "light") {
      htmlTag.classList.remove("darkmode");
    } else if (userMode == "dark") {
      htmlTag.classList.add("darkmode");
    } else if (userMode == "sys") {
      matchSys();
    }
  }
  function matchSys() {
    if (getMode() == "sys") {
      if (ifDarkPrefer()) htmlTag.classList.add("darkmode");
      else htmlTag.classList.remove("darkmode");
    }
  }
  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", matchSys);

  function switchLanguage(lang) {
    let path = window.location.pathname;

    if (!path.startsWith("/zh-tw") && lang === "zh-tw") {
      window.location.href = "/zh-tw" + path;
      localStorage.setItem("userLang", "zh-tw");
    } else if (path.startsWith("/zh-tw") && lang === "zh-hans") {
      window.location.href = path.replace(/^\/zh-tw/, "");
      localStorage.setItem("userLang", "zh-hans");
    }
  }
</script>
<script
  src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/instant.page/5.1.0/instantpage.min.js"
></script>
