---
const { title = "", icon = "" } = Astro.props;
---

<div class="notice bg-light px-4 pt-4 mb-3">
  {
    title ? (
      <p>
        <b>
          {icon ? <i class={`bi ${icon} me-2`} aria-hidden="true" /> : null}
          {title}
        </b>
      </p>
    ) : null
  }
  <slot />
</div>
