---
import BaseLayout from './BaseLayout.astro';
const { keywords, title, desc, enTitle='', bgPath='', isRoot=false, isIndex=true } = Astro.props;

const headerProps = {
	title,
	enTitle,
	bgPath,
	isIndex,
}

const baseLayoutProps = {
	isRoot,
	title: isRoot ? "KnowSex" : title + " - KnowSex",
	keywords,
	description: desc,
	headerProps,
}

---
<BaseLayout {...baseLayoutProps}>
	<div class="main">
        <slot />
    </div>
</BaseLayout>