---
import HeadImage from '@/components/HeadImage.astro';
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

// 如果是全站首页
const isRoot = frontmatter.title == "首页" ? true : false;
const title = isRoot ? "KnowSex" : frontmatter.title + " - KnowSex";

const baseLayoutProps = {
	title,
	keywords: frontmatter.keywords,
	description: frontmatter.desc,
	isRoot,
    author: frontmatter.author,
    review: frontmatter.review
}

---
<BaseLayout {...baseLayoutProps}>
	<article itemscope="" itemtype="http://schema.org/Article">
        { !frontmatter.removeCover && <HeadImage title={frontmatter.title} enTitle={frontmatter.enTitle} bgPath={frontmatter.bgPath} /> }
        <div class="main">
            {frontmatter.author &&
            <div class="main-meta-author">
                <div><span itemprop="author">{frontmatter.author}</span> / 撰写</div>
                <div>{frontmatter.review && frontmatter.review + " / 审校" }</div>
            </div>
            }
            <slot />
        </div>
    </article>
</BaseLayout>