---
import HeadImage from '../components/HeadImage.astro';
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

// 如果是全站首页
const isRoot = frontmatter.title == "首页" ? true : false;
const title = isRoot ? "KnowSex" : frontmatter.title + " - KnowSex";

const baseLayoutProps = {
	title,
	keywords: frontmatter.keywords,
	description: frontmatter.desc,
	isRoot,
}

---
<BaseLayout {...baseLayoutProps}>
	<article itemscope="" itemtype="http://schema.org/Article">
        { !frontmatter.removeCover && <HeadImage title={frontmatter.title} enTitle={frontmatter.enTitle} bgPath={frontmatter.bgPath} /> }
        <div class="main">
            <slot />
        </div>
    </article>
</BaseLayout>